# mypy
.mypy_cache/
__pycache__/
.pip-selfcheck.json
.pyvenv.cfg
# Other unwanted stuff
.idea
.DS_Store
.DS_STORE

# Database stuff
*.sqlite3
migrations/
db.sqlite3
jkuatit.sql

media_cdn/
static_cdn/
products/
lib64/
bin/
lib/

